* {
  margin: 0;
  padding: 0;
}

/* R - RED
   G - GREEN
   B - BLUE */


body {
  background: linear-gradient(#222, #000);
  color: #fff;
  height: 100vh;
  width: 100%;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.um {
  display: flex;
  align-items: center;
}

/* 1rem = 16px */

.perfil {
  border-radius: 50%;
  height: 5rem;
  width: 5rem;
}

.titulo {
  margin: 3rem;
  color: #d6570d;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 5rem;
}



.menu .nav a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;

}
